{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <div class="section">
        <table class="center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Symbol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ price | usd }}</td>
                    <td>{{ symbol }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <form action="/quoted" method="POST">
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
{% endblock %}